@import '../global.scss';

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;

  background-color: $black;
  border-bottom: 1px solid $accent;

  padding: 10px 20px;


  &__current-route{
    font-size: 1.25rem;
    font-weight: 600;
  }


  &__logo{
    img{
      height: 60px;
    }
  }

  .navbar__menu{
    display: flex;
    gap: 15px;

    a{
      text-decoration: none;
      color: $white;
      font-weight: 500;

      &:hover{
        color: $accent;
      }
    }
  }
}
