@use '../global.scss' as global;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 80px;

  background-color: rgba(global.$white, 0.05);
  border-bottom: 1px solid rgba(global.$white, 0.1);

  padding: 10px 20px;


  &__current-route{
    font-size: global.$font-size-lg;
    font-weight: 600;
  }

  &__env-badge{
    background-color: global.$accent;
    color: global.$black;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: global.$font-size-sm;
    font-weight: 500;
    text-transform: uppercase;
  }


  &__logo{
    img{
      height: 60px;
    }
  }

  .navbar__menu{
    display: flex;
    gap: 15px;

    a{
      text-decoration: none;
      color: global.$white;
      font-weight: 500;
      font-size: global.$font-size-sm;

      &:hover{
        color: global.$accent;
      }
    }
  }
}
