@use '../../global.scss' as global;

.changelogs-page {
  display: flex;
  flex-direction: row !important;
  gap: 20px;

  .list-pane, .form-pane{
    h1{
      margin-bottom: 15px;
    }
  }

  .list-pane{
    width: 60%
  }

  .form-pane{
    width: 40%
  }
}