$black: #000000;
$white: #ffffff;
$accent: #F4C238;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $white;
}

body {
  background-color: $black;
  padding: 10px;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: row;
}
